@import "mixins";
@import "syntax-variables";

atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.folded .icon-right:before,
atom-text-editor .fold-marker:after {
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .wrap-guide {
  // Make text wrap guide semi-transparent so that cursor can show through it
  .same-color-with-alpha(
    background-color; @syntax-wrap-guide-color; @syntax-background-color; 0.15
  ) !important;
  color: @syntax-wrap-guide-color;
}

atom-text-editor .indent-guide {
  color: @syntax-indent-guide-color;
}

atom-text-editor .invisible-character {
  color: @syntax-invisible-character-color;
}

atom-text-editor .highlights {
  z-index: 1;
}

atom-text-editor .bracket-matcher .region {
  border-bottom: 1px solid @syntax-cursor-color;
  // Bump up z-index so that the border shows up over the current line background
  z-index: 0;
}

// Use a hack to increase specificity so that we override the default color
// included with the highlight-selected package.
atom-text-editor .highlights .highlight-selected .region.region.region {
  border-color: @syntax-result-marker-color;
}

atom-text-editor .find-result .region {
  background-color: transparent;
  border-color: @syntax-result-marker-color;
}

atom-text-editor .current-result .region {
  border-color: @syntax-result-marker-color-selected;
  // Bump up z-index so that the border shows up over the selection background
  z-index: 0;
}

atom-text-editor.is-focused .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region {
  background-color: @syntax-selection-color;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection,
atom-text-editor.is-focused .line.cursor-line {
  background-color: #1f4662;
}

.syntax--punctuation:not(.syntax--punctuation.syntax--definition.syntax--string .syntax--punctuation.syntax--definition.syntax--comment) {
  color: #E1EFFF;
}

.syntax--constant {
  color: #FF628C;
}

.syntax--entity {
  color: #ffc600;
}

.syntax--keyword {
  color: #FF9D00;
}

.syntax--storage {
  color: #ffc600;
}

.syntax--string,
.syntax--string.syntax--unquoted.syntax--heredoc .syntax--string {
  color: #3AD900;
}

.syntax--string.syntax--unquoted.old-plist {
  color: @syntax-text-color;
}

.syntax--comment {
  font-style: italic;
  color: #0088FF;
}

.syntax--support {
  color: #80FFBB;
}

.syntax--variable {
  .clear-background-on-current-line();
  .clear-background-on-selection();

  color: #CCCCCC;
  background-color: #0d3a58;
}

.syntax--variable.syntax--language {
  color: #FF80E1;
}

.syntax--meta.syntax--function-call {
  color: #FFEE80;
}

.syntax--meta.syntax--function-call .syntax--meta.syntax--brace.syntax--round,
.syntax--meta.syntax--function-call .syntax--punctuation.syntax--definition.syntax--arguments.syntax--bracket.syntax--round {
  color: @syntax-text-color;
}

.syntax--invalid {
  color: #F8F8F8;
  background-color: #800F00;
}

.syntax--entity.syntax--other.syntax--inherited-class {
  font-style: italic;
  color: #80FCFF;
}

.syntax--string.syntax--quoted .syntax--source {
  color: #9EFF80;
}

.syntax--string .syntax--constant {
  color: #80FF82;
}

.syntax--string.syntax--regexp {
  color: #80FFC2;
}

.syntax--string .syntax--variable {
  color: #EDEF7D;
}

.syntax--support.syntax--function {
  color: #FFB054;
}

.syntax--support.syntax--constant {
  color: #EB939A;
}

.syntax--support.syntax--type.syntax--exception {
  color: #FF1E00;
}

.syntax--meta.syntax--preprocessor.syntax--c {
  color: #8996A8;
}

.syntax--meta.syntax--preprocessor.syntax--c .syntax--keyword {
  color: #AFC4DB;
}

.syntax--meta.syntax--sgml.syntax--html .syntax--meta.syntax--doctype,
.syntax--meta.syntax--sgml.syntax--html .syntax--meta.syntax--doctype .syntax--entity,
.syntax--meta.syntax--sgml.syntax--html .syntax--meta.syntax--doctype .syntax--string,
.syntax--meta.xml-processing,
.syntax--meta.xml-processing .syntax--entity,
.syntax--meta.xml-processing .syntax--string {
  color: #73817D;
}

.syntax--meta.syntax--tag,
.syntax--meta.syntax--tag .syntax--entity {
  color: #9EFFFF;
}

.syntax--meta.syntax--tag .syntax--punctuation {
  color: #fff;
}

.syntax--meta.syntax--selector.syntax--css .syntax--entity.syntax--name.syntax--tag {
  color: #9EFFFF;
}

.syntax--meta.syntax--selector.syntax--css .syntax--entity.syntax--other.syntax--attribute-name.syntax--id {
  color: #FFB454;
}

.syntax--meta.syntax--selector.syntax--css .syntax--entity.syntax--other.syntax--attribute-name.syntax--class {
  color: #5FE461;
}

.syntax--support.syntax--type.syntax--property-name.syntax--css {
  color: #9DF39F;
}

.syntax--meta.syntax--property-group .syntax--support.syntax--constant.syntax--property-value.syntax--css,
.syntax--meta.syntax--property-value .syntax--support.syntax--constant.syntax--property-value.syntax--css {
  color: #F6F080;
}

.syntax--meta.syntax--preprocessor.syntax--at-rule .syntax--keyword.syntax--control.syntax--at-rule {
  color: #F6AA11;
}

.syntax--meta.syntax--property-value .syntax--support.syntax--constant.syntax--named-color.syntax--css,
.syntax--meta.syntax--property-value .syntax--constant {
  color: #EDF080;
}

.syntax--meta.syntax--constructor.syntax--argument.syntax--css {
  color: #EB939A;
}

.syntax--meta.syntax--diff,
.syntax--meta.syntax--diff.syntax--header {
  color: #F8F8F8;
  background-color: #000E1A;
}

.syntax--markup.syntax--deleted {
  color: #F8F8F8;
  background-color: #ee3a43;
}

.syntax--markup.syntax--changed {
  color: #F8F8F8;
  background-color: #806F00;
}

.syntax--markup.syntax--inserted {
  color: #F8F8F8;
  background-color: #154F00;
}

.syntax--markup.syntax--raw {
  .clear-background-on-current-line();
  .clear-background-on-selection();

  background-color: rgba(143, 221, 246, 0.19);
}

.syntax--markup.syntax--quote {
  .clear-background-on-current-line();
  .clear-background-on-selection();

  background-color: #004480;
}

.syntax--markup.syntax--list {
  .clear-background-on-current-line();
  .clear-background-on-selection();

  background-color: #1D425D;
}

.syntax--markup.syntax--bold {
  font-weight: bold;
  color: #C1AFFF;
}

.syntax--markup.syntax--italic {
  font-style: italic;
  color: #B8FFD9;
}

.syntax--markup.syntax--heading {
  .clear-background-on-current-line();
  .clear-background-on-selection();

  font-weight: bold;
  color: #C8E4FD;
  background-color: #001221;
}

.sublimelinter.syntax--annotations {
  color: #FFFFFF;
  background-color: #FFFFAA;
}

.sublimelinter.syntax--mark.syntax--error {
  color: #DA2000;
}

.sublimelinter.outline.syntax--illegal {
  color: #FFFFFF;
  background-color: #FF4A52;
}

.sublimelinter.syntax--underline.syntax--illegal {
  background-color: #FF0000;
}

.sublimelinter.gutter-mark {
  color: #FFFFFF;
}

.sublimelinter.syntax--mark.syntax--warning {
  color: #EDBA00;
}

.sublimelinter.outline.syntax--warning {
  color: #FFFFFF;
  background-color: #DF9400;
}

.sublimelinter.syntax--underline.syntax--warning {
  background-color: #FF0000;
}

.sublimelinter.outline.syntax--violation,
.sublimelinter.outline.violation {
  color: #FFFFFF;
  background-color: #ffffff;
}

.sublimelinter.syntax--underline.syntax--violation,
.sublimelinter.syntax--underline.violation {
  background-color: #FF0000;
}

.syntax--entity.syntax--name.syntax--class.syntax--php,
.syntax--entity.syntax--name.syntax--type.syntax--class.syntax--php {
  color: #80FFC2;
}

.syntax--entity.syntax--name.syntax--function.syntax--php {
  .clear-background-on-current-line();
  .clear-background-on-selection();

  background-color: #333333;
}

.syntax--markup.syntax--deleted.git_gutter {
  color: #F92672;
}

.syntax--markup.syntax--inserted.git_gutter {
  color: #A6E22E;
}

.syntax--markup.syntax--changed.git_gutter {
  color: #967EFB;
}

.syntax--markup.syntax--ignored.git_gutter {
  color: #565656;
}

.syntax--markup.syntax--untracked.git_gutter {
  color: #565656;
}

.brackethighlighter.syntax--tag {
  color: #1f4662;
}

.brackethighlighter.syntax--curly {
  color: #ffc600;
}

.brackethighlighter.syntax--round {
  color: #ffc600;
}

.brackethighlighter.syntax--square {
  color: #ffc600;
}

.brackethighlighter.syntax--angle {
  color: #FFDD00;
}

.brackethighlighter.syntax--quote {
  color: #ffc600;
}

.brackethighlighter.syntax--unmatched {
  color: #F92672;
}

.syntax--storage.syntax--type.syntax--function.syntax--js {
  .clear-background-on-current-line();
  .clear-background-on-selection();

  color: #ffa5f3;
  background-color: #1d3c52;
}

.syntax--punctuation.syntax--definition.syntax--string.syntax--begin.syntax--js,
.syntax--punctuation.syntax--definition.syntax--string.syntax--end.syntax--js {
  color: #2eff00;
}

.syntax--object.syntax--key.syntax--js .syntax--string.syntax--unquoted.syntax--js {
  color: #2AFFDF;
}

.syntax--entity.syntax--name.syntax--class.syntax--js,
.syntax--entity.syntax--name.syntax--type.syntax--class.syntax--js {
  color: #FB94FF;
}

.syntax--storage.syntax--type.syntax--class.syntax--js {
  color: #FF9D00;
}

.syntax--storage.syntax--type.syntax--extends.syntax--js,
.syntax--storage.syntax--modifier.syntax--extends.syntax--js {
  font-style: italic;
}

.syntax--punctuation.syntax--separator.syntax--key-value.syntax--css {
  color: #ffc600;
}

.syntax--variable.syntax--unordered.syntax--list.syntax--gfm,
.syntax--support.syntax--quote.syntax--gfm {
  color: #ffc600;
}

.syntax--comment.syntax--quote.syntax--gfm {
  color: @syntax-text-color;
  font-style: normal;
}

.syntax--markup.syntax--underline.syntax--link.syntax--gfm {
  font-style: italic;
  color: #FF628C;
}

.syntax--markup.syntax--underline.syntax--link.syntax--gfm .syntax--punctuation.syntax--definition.syntax--gfm {
  color: @syntax-text-color;
  font-style: normal;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--html,
.syntax--entity.syntax--other.syntax--attribute-name.syntax--event.syntax--html,
.syntax--entity.syntax--other.syntax--attribute-name.syntax--id.syntax--html,
.syntax--entity.syntax--other.syntax--attribute-name.syntax--tag.syntax--jade,
.syntax--entity.syntax--other.syntax--attribute-name.syntax--tag.syntax--pug,
.syntax--constant.syntax--other.syntax--symbol.syntax--ruby,
.syntax--entity.syntax--other.syntax--attribute-name.syntax--jsx {
  font-style: italic;
  color: #ffc600;
}

.syntax--JSXNested {
  color: #FFFFFF;
}
